{
    fontfamily: Arial sans-serif
    line-height: .6;
    color: #33;
    background-color: #4f4f4;
    padding: 20px;
  
  
  h1 {
   -size: 2.5em;
    text-align: center;
    color: #e64a4a;
    margin-bottom: 40px;
  }
  
  p {
    font-size: 1.1em;
    text-align: justify;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 2em;
    }
  
    p {
      font-size: 1em;
    }
  }